{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
    test
{% endblock %}

{% block content %}
    <div class="animated fadeIn">
        <div class="row">

            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="col-lg-9">
                            <div class="display-3">世界第一次人工智能大会</div>
                            <hr class="my-4">
                            <h4 class="font-weight-normal"><i class="fa fa-info-circle"></i>
                                会议简介</h4>
                            <p>会议简介会议简介会议简介会议简介会议简介会议简介会议简介会议简介
                                会议简介会议简介会议简介会议简介会议简介会议简介会议简介会议简介
                                会议简介会议简介会议简介会议简介会议简介会议简介会议简介会议简介</p>
                            <hr class="my-4">
                            <h4 class="font-weight-normal"><i class="fa fa-question-circle"></i>
                                征文信息</h4>
                            <p>征文信息征文信息征文信息征文信息征文信息征文信息征文信息征文信息征文信息征文信息征文信息征文信息
                                征文信息征文信息征文信息征文信息征文信息征文信息征文信息征文信息征文信息征文信息</p>
                            <hr class="my-4">
                            <h4 class="font-weight-normal"><i class="fa fa-calendar"></i>
                                日程安排</h4>
                            <p>日程安排日程安排日程安排日程安排日程安排日程安排日程安排日程安排日程安排日程安排日程安排日程安排
                                日程安排日程安排日程安排日程安排日程安排日程安排日程安排日程安排日程安排</p>
                            <div>
                                <ul class="timeline font-weight-normal" id="timeline">
                                    <li class="li complete">
                                        <div class="timestamp">
                                            <span class="date">2014/11/12</span>
                                            <span class="date">截至投稿</span>
                                        </div>
                                        <div class="status"></div>
                                    </li>
                                    <li class="li complete">
                                        <div class="timestamp">
                                            <span class="date">2014/11/15</span>
                                            <span class="date">录用通知</span>
                                        </div>
                                        <div class="status">
                                        </div>
                                    </li>
                                    <li class="li complete">
                                        <div class="timestamp">
                                            <span class="date">2014/11/15</span>
                                            <span class="date">会议注册</span>
                                        </div>
                                        <div class="status">
                                        </div>
                                    </li>
                                    <li class="li">
                                        <div class="timestamp">
                                            <span class="date">2014/12/1</span>
                                            <span class="date">会议开始</span>
                                        </div>
                                        <div class="status">
                                        </div>
                                    </li>
                                    <li class="li">
                                        <div class="timestamp">
                                            <span class="date">2014/12/3</span>
                                            <span class="date">会议结束</span>
                                        </div>
                                        <div class="status">
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <hr class="my-4">
                            <div>
                                <div class="col-3" onclick="fuck()">
                                    <a href="#">
                                        <i class="fa fa-map"></i>
                                        投稿
                                    </a>
                                </div>
                                <div class="col-3" onclick="fuck()">
                                    <a href="#">
                                        <i class="fa fa-heart"></i>
                                        收藏
                                    </a>
                                </div>
                                <div class="col-3" onclick="fuck()">
                                    <a href="#">
                                        <i class="fa fa-phone"></i>
                                        聆听
                                    </a>
                                </div>
                                <div class="col-3" onclick="fuck()">
                                    <a href="#">
                                        <i class="fa fa-download"></i>
                                        下载模板
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <h4 class="d-flex justify-content-between align-items-center mb-3">
                                <span class="text-muted">会议主办方</span>
                            </h4>
                            <ul class="list-group mb-3">
                                <li class="list-group-item d-flex justify-content-between lh-condensed">
                                    <div>
                                        <h6 class="my-0">组织机构</h6>
                                        <small class="text-muted">IEEE</small>
                                    </div>
                                </li>
                                <li class="list-group-item d-flex justify-content-between lh-condensed">
                                    <div>
                                        <h6 class="my-0">住宿交通</h6>
                                        <small class="text-muted">中华人民共和国北京市海淀区学院路北京航天航空大学</small>
                                    </div>
                                </li>
                                <li class="list-group-item d-flex justify-content-between lh-condensed">
                                    <div>
                                        <h6 class="my-0">联系我们</h6>
                                        <small class="text-muted">+86 12345678910</small>
                                    </div>
                                </li>
                                <li class="list-group-item d-flex justify-content-between lh-condensed">
                                    <span>注册费用</span>
                                    <strong>$20</strong>
                                </li>
                            </ul>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- .animated -->
    <style>
    .timeline {
        list-style-type: none;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .li {
        transition: all 200ms ease-in;
    }
    .timestamp {
        margin-bottom: 20px;
        padding: 0px 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .status {
        padding: 0px 40px;
        display: flex;
        justify-content: center;
        border-top: 2px solid #D6DCE0;
        position: relative;
        transition: all 200ms ease-in;
    }
    .status:before {
        content: "";
        width: 25px;
        height: 25px;
        background-color: white;
        border-radius: 25px;
        border: 1px solid #ddd;
        position: absolute;
        top: -15px;
        left: 42%;
        transition: all 200ms ease-in;
    }
    .li.complete .status {
        border-top: 2px solid #66DC71;
    }
    .li.complete .status:before {
        background-color: #66DC71;
        border: none;
        transition: all 200ms ease-in;
    }
    .li.complete .status h4 {
        color: #66DC71;
    }
    @media (min-device-width: 320px) and (max-device-width: 700px) {
        .timeline {
            list-style-type: none;
            display: block;
        }
        .li {
            transition: all 200ms ease-in;
            display: flex;
            width: inherit;
        }
        .timestamp {
            width: 100px;
        }
        .status:before {
            left: -8%;
            top: 30%;
            transition: all 200ms ease-in;
        }
    }
</style>
{% endblock %}