{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
    会议主页
{% endblock %}

{% block content %}


    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
    <link rel="stylesheet" href="{% static 'assets1/css/lightbox.css' %}"/>
   
    <link rel="stylesheet" href="{% static 'assets1/css/bootstrap-responsive.css' %}"/>
    <link rel="stylesheet" href="{% static 'assets1/css/style.css' %}"/>
    <script src="{% static 'assets1/js/modernizr-2.6.0.min.js' %}"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <div class="modal fade" id="postPaper" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">


                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">投稿</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form enctype="multipart/form-data" class="form-horizontal" action="/user/user/contribute/"
                          method="post"
                          id="postPaperForm">
                        <div class="form-group">
                            <div class="col-4">
                                <label for="author_1" class="col-form-label">第一作者:</label>
                                <input type="text" required class="form-control" id="author_1" name="author_1">
                            </div>
                            <div class="col-4">
                                <label for="author_2" class="col-form-label">第二作者:</label>
                                <input type="text" class="form-control" id="author_2" name="author_2">
                            </div>
                            <div class="col-4">
                                <label for="author_3" class="col-form-label">第三作者:</label>
                                <input type="text" class="form-control" id="author_3" name="author_3">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="title" class="col-form-label">标题:</label>
                            <input class="form-control" required id="title" name="title">
                        </div>
                        <div class="form-group">
                            <label for="keyword" class="keyword">关键字:</label>
                            <input class="form-control" required id="keyword" name="keyword">
                        </div>
                        <div class="form-group">
                            <label for="abstract" class="keyword">摘要:</label>
                            <textarea class="form-control" required id="abstract" name="abstract" rows="5"
                                      maxlength="150"></textarea>
                        </div>
                        <div class="form-group">
                            <div>
                                <label>上传论文：</label>
                                <p></p>
                                <input required type="file" name="content">
                            </div>
                        </div>
                        <div style="display: none">
                            <input type="hidden" name="meeting_id" id="meeting_id" value="{{ conference.meeting_id }}">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                    <button form="postPaperForm" type="submit" class="btn btn-primary">提交</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="registerConference" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">聆听会议</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form enctype="multipart/form-data" class="form-horizontal" action="/user/join/" method="post"
                          id="registerConferenceForm">
                        <div class="form-group">
                            <div class="custom-file">
                                <label>上传收费凭证：</label>
                                <p></p>
                                <input type="file" name="file" required>
                            </div>
                        </div>
                        <input type="hidden" value="{{ conference.meeting_id }}" name="meeting">
                        <input type="hidden" name="type" value="2">
                        <div class="form-group">
                            <div class="col-6">
                                <h6>参会人员</h6>
                            </div>
                            <div class="col-1 float-right ">
                                <a href="#" class="fa fa-plus-square" onclick="addPerson()"></a>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-default">姓名</span>
                                </div>
                                <input placeholder="请输入姓名" required type="text" class="form-control"
                                       aria-label="Default"
                                       aria-describedby="inputGroup-sizing-default" name="name1">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-6">
                                <input type="radio" required name="gender1" value="male">
                                <label>男</label>
                                <input type="radio" name="gender1" value="female">
                                <label>女</label>
                            </div>
                            <div class="col-6">
                                <input type="radio" required name="reservation1" value="yes">
                                <label>预定住宿</label>
                                <input type="radio" name="reservation1" value="no">
                                <label>不预定住宿</label>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                    <button form="registerConferenceForm" type="submit" class="btn btn-primary">提交</button>
                </div>
            </div>
        </div>
    </div>
    <!-- BEGIN Navigation bar -->
    <div id="navbar" class="navbar  navbar-dark fixed-bottom" style="height:70px;width:auto;padding:auto;margin:0px">
        
        <div class="container" style="padding-top:0px">
            <label><H2>{{ conference.title }}</H2></label>
            <div class="navbar-inner">

                <ul class="nav">
                    <li class="active"><a href="#home">简介</a></li>
                    &nbsp&nbsp

                    <!-- <li><a href="#services">会议安排</a></li> -->
                    <li><a href="#schedule">会议信息</a></li>
                    &nbsp&nbsp
                    {% if request.session.type == '0' %}
                    <li><a href="#action">参加与收藏</a></li>
                    {% endif %}
                    &nbsp&nbsp
                    <li><a href="#about">关于我们</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- END Navigation bar -->
    <!-- BEGIN Carousel -->
    <div id="home" class="carousel slide" style="padding-top:0px;width:800px;margin-bottom:10px">
        <div class="container dotted-black-up" style="padding-top:0px">
            <div class="carousel-inner">
                <div class="active item" style="padding:0px">

                    <div class="span8">
                        <div class="head">
                            <h1>{{ conference.title }}</h1>
                        </div>
                        <div class="">
                            <p>{{ conference.intro }}</p>
                            <br/>
                            <div class="button">

                                <a href="#" class="button-red"> <font color="white">注册费用&nbsp</font><img alt=""
                                                                                                         src="{% static 'assets1/img/icons/tickets.png' %}"/></a><a
                                    href="#" class="button-black">{{ conference.receipt }}元</a>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
            <a class="carousel-control left hidden-phone hidden-tablet" href="#home" data-slide="prev"></a>
            <a class="carousel-control right hidden-phone hidden-tablet" href="#home" data-slide="next"></a>
        </div>
    </div>
    <!-- END Carousel -->
    <!-- BEGIN Main keys -->



    <!-- END Services -->
    <!-- BEGIN Portfolio -->
    <div id="schedule" class="bg-red" style="max-height:auto;padding-bottom:40px">
        <div class="container">
            <div class="row head">
                <div class="span12">
                    <h1>会议信息</h1>
                </div>
            </div>
            <div class="row">
                <div class="span2 hidden-phone">

                </div>
                <div class="span10">
                    <p><strong class="white">
                        征文信息
                    </p>
                    <p><strong class="white">{{ conference.essay_request }}</strong></p>
                    <br/>
                    <p><strong class="white">
                        地点
                    </p>
                    <p><strong class="white">{{ conference.organization }}</strong></p>
                    <br/>
                    <p><strong class="white">
                        住宿&交通
                    </p>
                    <p><strong class="white">{{ conference.support }}</strong></p>
                    <br/>

                </div>
            </div>
        </div>
        <div class="container" style="padding-top: 0;">
            <div class="row head">
                <div class="span12 dotted-white-up">
                    <h3 style="color:white">日程安排</h3>
                </div>
            </div>
            <br/>
            <div class="row">

                <div class="span10">
                    <p><strong class="white">
                        {{ conference.schedule |linebreaksbr }}
                    </strong></p>


                </div>
            </div>
        </div>
        <div class="container" style="padding-top: 0;">
            <div class="row head">
                <div class="span12 dotted-white-up">
                    <p><strong class="white"/>
                        关键日期
                    </p>
                    <div>
                        <ul class="timeline font-weight-normal" id="timeline">
                            <li class="li {% if conference.status1 == True %}
                                    complete
                                    {% endif %}">
                                <div class="timestamp" style="color:white">
                                    <span class="date">{{ conference.ddl_date|date:'Y/m/d' }}</span>
                                    <span class="date">{{ conference.ddl_date|date:'H:i' }}</span>
                                    <span class="date">截至投稿</span>
                                </div>
                                <div class="status"></div>
                            </li>
                            <li class="li {% if conference.status2 == True %}
                                    complete
                                    {% endif %}">
                                <div class="timestamp" style="color:white">
                                    <span class="date">{{ conference.result_notice_date|date:'Y/m/d' }}</span>
                                    <span class="date">{{ conference.result_notice_date|date:'H:i' }}</span>
                                    <span class="date">录用通知</span>
                                </div>
                                <div class="status">
                                </div>
                            </li>
                            <li class="li {% if conference.status3 == True %}
                                    complete
                                    {% endif %}">
                                <div class="timestamp" style="color:white">
                                    <span class="date">{{ conference.regist_attend_date |date:'Y/m/d'}}</span>
                                    <span class="date">{{ conference.regist_attend_date |date:'H:i'}}</span>
                                    <span class="date">会议注册</span>
                                </div>
                                <div class="status">
                                </div>
                            </li>
                            <li class="li {% if conference.status4 == True %}
                                    complete
                                    {% endif %}">
                                <div class="timestamp" style="color:white">
                                    <span class="date">{{ conference.meeting_date|date:'Y/m/d'}}</span>
                                    <span class="date">{{ conference.meeting_date|date:'H:i'}}</span>
                                    <span class="date">会议开始</span>
                                </div>
                                <div class="status">
                                </div>
                            </li>
                            <li class="li {% if conference.status5 == True %}
                                    complete
                                    {% endif %}">
                                <div class="timestamp" style="color:white">
                                    <span class="date">{{ conference.meeting_end_date | date:'Y/m/d' }}</span>
                                    <span class="date">{{ conference.meeting_end_date | date:'H:i' }}</span>
                                    <span class="date">会议结束</span>
                                </div>
                                <div class="status">
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>


        </div>

        <!-- END Portfolio -->
        <!-- BEGIN About -->

    </div>
    {% if request.session.type == '0' %}
    <div id="action" class="bg-blue" style="margin:auto">
        <div class="container" style="padding:30px" style="margin:auto">
            <div class="row" align="center">
                <div style="margin-right:10px;margin-left:auto">
                    <div class="circle-white">
                        <br/>

                            {% if isfavorite %}
                            <div id="favoriteDiv">
                                <a href="#" onclick="favorite()" class="text-danger">
                                    <i class="fa fa-heart"></i>
                                        已收藏
                                </a>
                            </div>
                            {% else %}
                            <div id="favoriteDiv">
                                <a href="#" onclick="favorite()">
                                    <i class="fa fa-heart"></i>
                                        收藏
                                </a>
                            </div>
                            {% endif %}
                       <!--  <h3 class="dotted-black">收藏</h3> -->
                   </br>
                        <p>收藏该会议，</br>将便于您</br>实时查看该会议的相关信息和动态</p>
                    </div>
                </div>
                <div style="margin:10px">
                    <div class="circle-white">
                        </br>
                        {% if islisten %}
                            <a href="#" onclick="listen()" class="text-info">
                            <i class="fa fa-phone"></i>
                            已申请聆听
                        {% else %}
                            <a href="#" onclick="listen()">
                            <i class="fa fa-phone"></i>
                            聆听
                        </a>
                        {%endif%}
                        </br></br>
                        <p>申请聆听该会议，<br/>通过相关手续，将使您有机会<br/>旁听该会议</p>
                    </div>
                </div>
                <div style="margin:10px">
                    <div class="circle-white">
                        </br>

                        <a href="#" onclick="put()">投稿</a>
                        </br></br>
                        <p>向该会议进行投稿，<br/>，将使您有可能获得<br/>该会议的参加机会</p>
                    </div>
                </div>
                <div style="margin-left:10px;margin-right:auto">
                    <div class="circle-white">
                        </br>
                       
                         <a href="{{ conference.template }}">
                            <i class="fa fa-download"></i>
                                下载模板
                         </a>
                         </br></br>
                        <p>投稿论文时，<br/>请先查看该会议的论文模板,<br/>注意论文格式要求</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {%endif%}
    <div id="about">
        <div class="container">
            <div class="row head">
                <div class="span12">
                    <h1>关于我们</h1>
                </div>
            </div>
            <div class="row">
                <div class="span2 hidden-phone">
                    <img src="{% static 'assets1/img/about.png' %}" alt=""/>
                </div>
                <div class="span3">
                    <p>
                        <strong>组织：</strong>{{ conference.institution.name }}
                    </p>
                    <br/>
                    <p>
                        <strong>联系方式：</strong>{{ conference.about_us }}
                    </p>
                </div>


            </div>
        </div>
    </div>


    
</div>




    <style>
        .timeline {
            list-style-type: none;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .li {
            transition: all 200ms ease-in;
        }

        .timestamp {
            margin-bottom: 20px;
            padding: 0px 40px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .status {
            padding: 0px 40px;
            display: flex;
            justify-content: center;
            border-top: 2px solid #D6DCE0;
            position: relative;
            transition: all 200ms ease-in;
        }

        .status:before {
            content: "";
            width: 25px;
            height: 25px;
            background-color: white;
            border-radius: 25px;
            border: 1px solid #ddd;
            position: absolute;
            top: -15px;
            left: 42%;
            transition: all 200ms ease-in;
        }

        .li.complete .status {
            border-top: 2px solid #66DC71;
        }

        .li.complete .status:before {
            background-color: #66DC71;
            border: none;
            transition: all 200ms ease-in;
        }

        .li.complete .status h4 {
            color: #66DC71;
        }

        @media (min-device-width: 320px) and (max-device-width: 700px) {
            .timeline {
                list-style-type: none;
                display: block;
            }

            .li {
                transition: all 200ms ease-in;
                display: flex;
                width: inherit;
            }

            .timestamp {
                width: 100px;
            }

            .status:before {
                left: -8%;
                top: 30%;
                transition: all 200ms ease-in;
            }
        }
    </style>
    <script>
        var isFavorite = true;
        {% if isfavorite %}
            isFavorite = true;
        {% else %}
            isFavorite = false;
        {% endif %}
        function favorite() {
            let meeting_id = {{ conference.meeting_id }};
            jQuery(function ($) {
                $.ajax({
                    url: '/user/user/favorite/',
                    type: 'POST',
                    data: {'meeting_id': meeting_id}, // Request body
                    dataType: 'json',
                    success: function (response) {
                        if (response['errorInfo']) {
                            document.getElementById('info').innerHTML = response;
                            jQuery(function ($) {
                                $('#id_errors').modal('show')
                            });
                        } else {
                            isFavorite = !isFavorite;
                            var div = document.getElementById('favoriteDiv');
                            if (isFavorite) {
                                div.innerHTML = '<a onclick="favorite()" class="text-danger">\n' +
                                    ' <i class="fa fa-heart"></i>\n' +
                                    ' 已收藏\n' +
                                    ' </a>'
                            } else {
                                div.innerHTML = '<a onclick="favorite()">\n' +
                                    ' <i class="fa fa-heart"></i>\n' +
                                    ' 收藏\n' +
                                    ' </a>'

                            }
                        }
                    },
                    error: function (msg) {

                    }
                });
            });
        }

        let personNumber = 1;

        function addPerson() {
            var div = document.getElementById('registerConferenceForm');
            personNumber++;
            div.innerHTML += '<div class="form-group">\n' +
                ' <div class="input-group mb-3">\n' +
                ' <div class="input-group-prepend">\n' +
                ' <span class="input-group-text" id="inputGroup-sizing-default">姓名</span>\n' +
                ' </div>\n' +
                ' <input placeholder="请输入姓名" required type="text" class="form-control" aria-label="Default"\n' +
                ' aria-describedby="inputGroup-sizing-default" name="name' + personNumber + '">\n' +
                ' </div>\n' +
                ' </div>\n' +
                ' <div class="form-group">\n' +
                ' <div class="col-6">\n' +
                ' <input type="radio" required name="gender' + personNumber + '" value="male">\n' +
                ' <label>男</label>\n' +
                ' <input type="radio" name="gender' + personNumber + '" value="female">\n' +
                ' <label>女</label>\n' +
                ' </div>\n' +
                ' <div class="col-6">\n' +
                ' <input type="radio" required name="reservation' + personNumber + '" value="yes">\n' +
                ' <label>预定住宿</label>\n' +
                ' <input type="radio" name="reservation' + personNumber + '" value="no">\n' +
                ' <label>不预定住宿</label>\n' +
                ' </div>\n' +
                ' </div>'
        }

        function put() {
            
            jQuery(function ($) {
                
                $('#postPaper').modal('show')
                
            });
        }

        function listen(){
             jQuery(function ($) {
                $('#registerConference').modal('show')
                
            });
        }
    </script>
{% endblock %}