{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
    test
{% endblock %}

{% block content %}
    <div class="modal fade" id="registerConference" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">注册会议</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form enctype="multipart/form-data" class="form-horizontal" action="/user/join/" method="post"
                          id="registerConferenceForm">
                        <div class="form-group">
                            <div class="custom-file">
                                <input type="file" name="file" class="custom-file-input" required id="content">
                                <label class="custom-file-label" for="content">上传缴费凭证</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="paper_id">论文编号:</label>
                            <input class="form-control" required id="paper_id" name="paper">
                        </div>
                        <input type="hidden" name="type" value="1">
                        <div class="form-group">
                            <div class="col-6">
                                <h6>参会人员</h6>
                            </div>
                            <div class="col-1 float-right ">
                                <a href="#" class="fa fa-plus-square" onclick="addPerson()"></a>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-default">姓名</span>
                                </div>
                                <input placeholder="请输入姓名" required type="text" class="form-control" aria-label="Default"
                                       aria-describedby="inputGroup-sizing-default" name="name1">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-6">
                                <input type="radio" required name="gender1" value="male">
                                <label>男</label>
                                <input type="radio" name="gender1" value="female">
                                <label>女</label>
                            </div>
                            <div class="col-6">
                                <input type="radio" required name="reservation1" value="yes">
                                <label>预定住宿</label>
                                <input type="radio" name="reservation1" value="no">
                                <label>不预定住宿</label>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                    <button form="registerConferenceForm" type="submit" class="btn btn-primary">提交</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="postPaper" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">投修改稿</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form enctype="multipart/form-data" class="form-horizontal" action="/user/user/modify/"
                          method="post"
                          id="postPaperForm">
                        <div class="form-group">
                            <div class="col-4">
                                <label for="author_1" class="col-form-label">第一作者:</label>
                                <input type="text" required class="form-control" id="author_1" name="author_1">
                            </div>
                            <div class="col-4">
                                <label for="author_2" class="col-form-label">第二作者:</label>
                                <input type="text" class="form-control" id="author_2" name="author_2">
                            </div>
                            <div class="col-4">
                                <label for="author_3" class="col-form-label">第三作者:</label>
                                <input type="text" class="form-control" id="author_3" name="author_3">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="paper_id">论文编号:</label>
                            <input class="form-control" required id="paper_id" name="paper_id">
                        </div>
                        <div class="form-group">
                            <label for="title" class="col-form-label">标题:</label>
                            <input class="form-control" required id="title" name="title">
                        </div>
                        <div class="form-group">
                            <label for="keyword" class="keyword">关键字:</label>
                            <input class="form-control" required id="keyword" name="keyword">
                        </div>
                        <div class="form-group">
                            <label for="abstract" class="keyword">摘要:</label>
                            <textarea class="form-control" required id="abstract" name="abstract" rows="5"
                                      maxlength="150"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="explain" class="keyword">修改说明:</label>
                            <textarea class="form-control" required id="explain" name="explain" rows="5"
                                      maxlength="150"></textarea>
                        </div>
                        <div class="form-group">
                            <div class="custom-file">
                                <input required type="file" name="content" id="content">
                            </div>
                        </div>
                        <div style="display: none">
                            <input type="hidden" name="meeting_id" id="meeting_id" value="{{ conference.meeting_id }}">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                    <button form="postPaperForm" type="submit" class="btn btn-primary">提交</button>
                </div>
            </div>
        </div>
    </div>

    <div class="animated fadeIn">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="float-left">
                            <strong class="card-title">评审结果</strong>
                        </div>
                        <div class="float-right">
                            <div class="col-6" data-toggle="modal" data-target="#postPaper">
                                <a href="#">
                                    <i class="fa fa-upload"></i>
                                    修改
                                </a>
                            </div>
                            <div class="col-6">
                                <a href="#" data-toggle="modal" data-target="#registerConference">
                                    <i class="fa fa-edit"></i>
                                    注册
                                </a>
                            </div>
                            <div class="col-4">

                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div>
                            <table id="bootstrap-data-table" class="table table-striped table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>会议</th>
                                    <th>论文</th>
                                    <th>状态</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for paper in papers %}
                                    <tr>
                                        <td>{{ paper.id }}</td>
                                        <td>
                                            <a href="/meeting/{{ paper.meeting.meeting_id }}">{{ paper.meeting.title }}</a>
                                        </td>
                                        <td><a href="{{ paper.content }}">{{ paper.title }}</a></td>
                                        {% if paper.status == -1 %}
                                            <td>
                                                <a tabindex="0" onclick="showAdvise({{ forloop.counter }})" href="#"
                                                   class="text-dark font-weight-bold"
                                                   role="button" data-toggle="popover"
                                                   data-trigger="focus" title="修改意见" id="advise{{ forloop.counter }}"
                                                   data-content="{{ paper.suggestion }}">
                                                    未审核</a>
                                            </td>
                                        {% elif paper.status == 0 %}
                                            <td>
                                                <a tabindex="0" onclick="showAdvise({{ forloop.counter }})" href="#"
                                                   class="text-info font-weight-bold"
                                                   role="button" data-toggle="popover"
                                                   data-trigger="focus" title="修改意见" id="advise{{ forloop.counter }}"
                                                   data-content="{{ paper.suggestion }}">
                                                    待修改</a>
                                            </td>
                                        {% elif paper.status == -2 %}
                                            <td>
                                                <a tabindex="0" onclick="showAdvise({{ forloop.counter }})" href="#"
                                                   class="text-danger font-weight-bold"
                                                   role="button" data-toggle="popover"
                                                   data-trigger="focus" title="修改意见" id="advise{{ forloop.counter }}"
                                                   data-content="{{ paper.suggestion }}">
                                                    未通过</a>
                                            </td>
                                        {% else %}
                                            <td>
                                                <a tabindex="0" onclick="showAdvise({{ forloop.counter }})" href="#"
                                                   class="text-success font-weight-bold"
                                                   role="button" data-toggle="popover"
                                                   data-trigger="focus" title="修改意见" id="advise{{ forloop.counter }}"
                                                   data-content="{{ paper.suggestion }}">
                                                    已通过</a>
                                            </td>
                                        {% endif %}
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <nav aria-label="Page navigation">
                            <ul class="pagination">
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ pre_page }}" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                                {% for page in pages %}
                                    <li class="page-item"><a class="page-link" href="?page={{ page }}">{{ page }}</a></li>
                                {% endfor %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ next_page }}" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        let personNumber = 1;
        function addPerson() {
            var div = document.getElementById('registerConferenceForm');
            personNumber++;
            div.innerHTML += '<div class="form-group">\n' +
                '                        <div class="input-group mb-3">\n' +
                '                            <div class="input-group-prepend">\n' +
                '                                <span class="input-group-text" id="inputGroup-sizing-default">姓名</span>\n' +
                '                            </div>\n' +
                '                            <input placeholder="请输入姓名" required type="text" class="form-control" aria-label="Default"\n' +
                '                                   aria-describedby="inputGroup-sizing-default" name="name' + personNumber+ '">\n' +
                '                        </div>\n' +
                '                    </div>\n' +
                '                    <div class="form-group">\n' +
                '                        <div class="col-6">\n' +
                '                            <input type="radio" required name="gender' + personNumber+ '" value="male">\n' +
                '                            <label>男</label>\n' +
                '                            <input type="radio" name="gender' + personNumber+ '" value="female">\n' +
                '                            <label>女</label>\n' +
                '                        </div>\n' +
                '                        <div class="col-6">\n' +
                '                            <input type="radio" required name="reservation' + personNumber+ '" value="yes">\n' +
                '                            <label>预定住宿</label>\n' +
                '                            <input type="radio" name="reservation' + personNumber+ '" value="no">\n' +
                '                            <label>不预定住宿</label>\n' +
                '                        </div>\n' +
                '                    </div>'
        }

        function showAdvise(id) {
            jQuery(function ($) {
                id = '#advise' + id;
                $(id).popover('show')
            });
        }
    </script>
{% endblock %}